---
layout: header
---

<main class="relative">
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <div class="m-10 text-sm text-center lg:float-right text-gray-400">Build Version {% version %}</div>
</main>
