---
layout: header
---

<main class="relative mx-4 lg:max-w-7xl lg:mx-auto">
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <div class="m-10 text-sm text-center lg:float-right text-white">Build Version {% version %}</div>
</main>
