---
title: Sydney Design Pod
js:
fontAwesomeKitID: 2229cc8bf4
googleFontsURL: https://fonts.googleapis.com/css2?family=Heebo:wght@200;500;800&display=swap
wip: true
extraNav:
  -
    key: CopyLocalStorage
    url: '#'
    title: Copy All Changes
    clickFunc: navigator.clipboard.writeText(JSON.stringify(localStorage));
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8"/>
        {% if description %}
            <meta name="description" content="{{description}}"/>
        {% endif %}
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
        <link rel="stylesheet" href="/css/style.css?v={% version %}"/>
        <link rel="shortcut icon" href="/assets/favicon.ico"/>
        <link rel="preload" as="font" href="/assets/fonts/Giaza.woff2" type="font/woff2" crossorigin="anonymous">

        <script src="https://kit.fontawesome.com/{{ fontAwesomeKitID }}.js" crossorigin="anonymous"></script>
        <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="/common-js/bundle.js?v={% version %}"></script>
        <script defer src="/common-js/contentEditor.js" buildVersion="{% version %}"></script>
        <script src="/usefulFuncs.js"></script>

        {% if js %}
            <script src="{{ js }}?v={% version %}"></script>
        {% endif %}

        <style>
            @import url('{{ googleFontsURL }}');
        </style>

    </head>
    <body class="bg-gray-50">
        {% if wip %}
            <div class="overflow-hidden absolute transform -rotate-45 bg-gray-300 text-gray-600 top-3 left-6 text-sm w-56 -translate-x-1/2 p-x text-center origin-center" style="z-index: -10;">WIP</div>
        {% endif %}

        {% block content %}
            {{ content | safe }}
        {% endblock %}
    </body>
</html>
