---
layout: body
eleventyNavigation:
    key: How It Works
    order: 3
---

{% set textTitle = "How It" %}
{% set textTitleHighlight = "Works" %}
{% set textBody = [] %}
{% set textBody = (textBody.push("We will have an initial consultation either in your home or commercial space. This is ahunter, listen and gather expedition for Jill, we can discuss what your dilemma or/and dream is."), textBody) %}
{% set textBody = (textBody.push("After measuring and taking many notes, Jill then goes away and begins the process of creating a look for you, she has many wholesale contacts and can achieve discounts at many retailers. On a simple project you will receive a digital moodboard and recommended shopping list, on more complex projects additionalspecifications may be required."), textBody) %}
{% set textBody = (textBody.push("Jill charges a reasonable hourly rate after the initial consultation and is time efficient and can work with any budget."), textBody) %}
{% set textButtonURL = "#" %}
{% set textButtonLabel = "Contact Me" %}
{% include "partials/text.njk" %}
