---
layout: body
js: index.js
---

<div class="mt-10 lg:mt-0">
    {% set motionTitle = "Something catchy" %}
    {% set motionTitleHighlight = "goes here" %}
    {% set motionBody = "Book with us today and let us style your space or something like that" %}
    {% set motionButtonURL = "booking-form" %}
    {% set motionButtonLabel = "Let's do it" %}
    {% set motionImage = "/assets/living1.jpg" %}
    {% include "partials/hero-motion-image-right.njk" %}

    {% set textTitle = "How we do" %}
    {% set textTitleHighlight = "the things" %}
    {% set textBody = [] %}
    {% set textBody = (textBody.push("First time using an interior decorator?"), textBody) %}
    {% set textBody = (textBody.push("Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua."), textBody) %}
    {% set textButtonURL = "/how-it-works" %}
    {% set textButtonLabel = "Learn how it works" %}
    {% set textButtonAltURL = null %}
    {% set textButtonAltLabel = null %}
    {% include "partials/text.njk" %}

    {% set portrait = true %}
    {% set motionTitle = "Get to know" %}
    {% set motionTitleHighlight = "Jill" %}
    {% set motionBody = "She can help and stuff and things" %}
    {% set motionButtonURL = "/about" %}
    {% set motionButtonLabel = "Meet Jill" %}
    {% set motionImage = "/assets/profile.jpg" %}
    {% include "partials/hero-motion-image-left.njk" %}

    {% set textTitle = "Our" %}
    {% set textTitleHighlight = "portfolio" %}
    {% set textBody = [] %}
    {% set textBody = (textBody.push("We have an extensive experience and have decorated a range of places"), textBody) %}
    {% set textBody = (textBody.push("Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua."), textBody) %}
    {% set textButtonURL = "/portfolio" %}
    {% set textButtonLabel = "See our Portfolio" %}
    {% set textButtonAltURL = null %}
    {% set textButtonAltLabel = null %}
    {% include "partials/text.njk" %}
</div>
