---
layout: body
eleventyNavigation:
    key: Services
---
<h1 class="text-center mt-10 text-myPink">Services</h1>
{% set textTitle = "Interior" %}
{% set textTitleHighlight = "Styling" %}
{% set textBody = [] %}
{% set textBody = (textBody.push("Lauren provides a full menu of interior styling and decorating services to create beautiful and functional spaces"), textBody) %}
{% set textBody = (textBody.push("Furniture and decor sourcing Artwork selection Room layouts Colour consultations Trade discount program Onsite styling Shopping trips"), textBody) %}
{% set textButtonURL = "#" %}
{% set textButtonLabel = "Hire Me" %}
{% set textButtonAltURL = "#" %}
{% set textButtonAltLabel = "Another Button" %}
{% include "partials/text.njk" %}
