{% set navPages = collections.all | eleventyNavigation %}
{%- for extraLink in extraNav %}
    {% set navPages = (navPages.push(extraLink), navPages) %}
{%- endfor %}
{# <script>console.log('navPages',{{navPages | dump | safe}});</script> #}
{%- for entry in navPages %}
    <a
        href="{{ entry.url | url }}"
        class="text-myGrey px-4 py-2 rounded-md transition duration-300 hover:bg-white hover:shadow {% if entry.url == page.url %} active {% endif %}"
        {% if entry.clickFunc %} @click="{{ entry.clickFunc }}" {% endif %}
    >
        {{ entry.title }}
    </a>
{%- endfor %}
