<div class="w-full py-20 text-center m-auto">
    <div class="px-4">
        <h1>
            <span class="block xl:inline">{{ textTitle }}</span>
            <span class="block text-myPink xl:inline">{{ textTitleHighlight }}</span>
        </h1>
        {% for paragraph in textBody %}
            <p class="mt-3 max-w-md mx-auto text-lg text-myGrey sm:text-xl md:mt-5 md:max-w-3xl">{{ paragraph }}</p>
        {% endfor %}
        <div class="mt-10 flex justify-center">
            <a href="{{ textButtonURL }}" class="btn hero-btn mint mr-4">{{ textButtonLabel }}</a>
            <a href="{{ textButtonAltURL }}" class="btn hero-btn mint alt-btn">{{ textButtonAltLabel }}</a>
        </div>
    </div>
</div>
